body{
	background: #000;
}
.navbar_link{
	width: 90px;
	margin-bottom: 7px;
}
.registerLoginCheckbox{
	height: 15px;
	width: 15px;
}
.carousel_div{
	margin-top: 15px;
	height: 250px;
}
.home_alert{
	 margin-top: 15px;
	 margin-bottom: 0;
}